<%- include("../partials/adminHeader") %>



    <div class="content-header row">
        <div class="d-flex justify-content-between align-items-center">
            <h2 class="content-title card-title">Banners</h2>

        </div>
    </div>

    </div>

    <!-- <header class="card-header text-center mb-20">
        <form action="/admin/users/" method="get" class="d-inline">
            <div class="input-group input-group-sm border border-1 border-grey rounded-pill"
                style="width: 500px; margin-left: 230px;">
                <input type="text" class="form-control border-0 rounded-pill" placeholder="Search customers..."
                    name="search">
                <button class="btn  border-0" type="submit">Search</button>
            </div>
        </form>
    </header> -->


    <!-- card-header end// -->


    <div class="right mt-5">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Active</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                <% if (locals.data) { %>
                    <% for(let i=0; i < data.length; i++) { %>
                        <tr>
                            <td>
                                <img src="/uploads/product-images/<%= data[i].image %>" style="height: 2rem; width: 3rem;" class="img-xs" alt="Item">

                            </td>
                            <td>
                                <%= data[i].title %>
                            </td>
                            <td>
                                <%= data[i].description %>
                            </td>




                            <td>
                                <% if (data[i].startDate < Date.now() &&  data[i].endDate > Date.now()) { %>
                                    <p class="badge rounded-pill alert-success">Active</p>
                                <% } else { %>
                                    <p class="badge rounded-pill alert-danger">No Active</p>
                                <% } %>
                            </td>
                            
                            
                            

                            <td>
                                <a href="/admin/editBanner?id=<%= data[i]._id %>">
                                    <button class="btn">
                                        <i class="icon material-icons md-edit"></i> 
                                    </button>
                                </a>
                                
                            </td>

                            <td class="action" data-title="Remove"><a href="/admin/deleteBanner?id=<%= data[i]._id %>"><i class="icon material-icons md-delete"></i> </a></td>

                        </tr>
                        <% } %>
                            <% }else{ %>

                                No Banner Found

                                <% } %>
            </tbody>

        </table>




        <!-- card-body end// -->
    </div> <!-- card end// -->

    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <a href="/admin/addBanner">
                    <button class="btn btn-primary mt-3 mr-200" type="submit">Add Banner</button>
                </a>
            </div>
        </div>
    </div>
    </div>
    <div class="container mt-3">
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center mb-20" style="margin-right: 200px;">



            </ul>
        </nav>
    </div>




    <%- include("../partials/adminFooter") %>