<%- include("../partials/adminHeader") %>

    <!-- Add this in your HTML head section -->

    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css">

    </head>


    <style>
        .col-md-3 {
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 10px;
            margin: 10px;
        }

        .form-label {
            margin-bottom: 8px;
        }

        .form-control {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }

        .d-grid {
            margin-top: 20px;
        }

        .btn-primary {
            background-color: #007bff;
            color: #fff;
            border: 1px solid #007bff;
            border-radius: 5px;
            padding: 10px 20px;
            cursor: pointer;
        }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }
    </style>



    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Category </h2>
                <p>Add, edit or delete a category</p>
            </div>
            <div>
                <input type="text" placeholder="Search cat" class="form-control bg-white">
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <form method="post" action="/admin/addCategory">
                            <div class="mb-4">
                                <label for="product_name" class="form-label">Name</label>
                                <input type="text" name="name" placeholder="Type here" class="form-control"
                                    id="product_name" required />
                            </div>


                            <div class="mb-4">
                                <label class="form-label">Description</label>
                                <textarea placeholder="Type here" name="description" class="form-control"
                                    required></textarea>
                            </div>
                            <div class="d-grid">
                                <button class="btn btn-primary" type="submit">Create category</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-7 ml-70">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-center">
                                        </th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Offer Price</th>
                                        <th>Offer</th>
                                        <th>Status</th>
                                        <th>List/Unlist</th>
                                        <th class="text-start">Edit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(let i=0; i < cat.length; i++) { %>
                                        <tr>
                                            <td>
                                                <!-- Content for the first column, if needed -->
                                            </td>
                                            <td class="text-start">
                                                <%= cat[i].name %>
                                            </td>
                                            <td class="text-start">
                                                <%= cat[i].description %>
                                            </td>
                                            <td>
                                                <% if (locals.cat[i].categoryOffer) { %>
                                                    <%= cat[i].categoryOffer %>%
                                                        <% }else{ %>
                                                            0%
                                                            <% } %>
                                            </td>
                                            <td class="text-start">
                                                <% if (locals.cat[i].categoryOffer===0) { %>
                                                    <button class="btn btn-info" onclick="addOffer('<%= cat[i]._id %>')"
                                                        style="width: 100px;">
                                                        <a href="#" class="text-white">Add Offer</a>
                                                    </button>
                                                    <% }else{ %>
                                                        <button class="btn btn-info"
                                                            onclick="removeOffer('<%= cat[i]._id %>')"
                                                            style="width: 100px;">
                                                            <a href="#" class="text-white">Remove</a>
                                                        </button>
                                                        <% } %>
                                            </td>
                                            <td class="text-start">
                                                <% if (cat[i].isListed===true) { %>
                                                    <span class="badge rounded-pill alert-success"
                                                        style="width: 60px;">Listed</span>
                                                    <% } else { %>
                                                        <span class="badge rounded-pill alert-danger"
                                                            style="width: 60px;">Unlisted</span>
                                                        <% } %>
                                            </td>
                                            <td class="text-start">
                                                <% if (cat[i].isListed===true) { %>
                                                    <button class="btn btn-danger" style="width: 70px;">
                                                        <a href="/admin/listCategory?id=<%= cat[i]._id %>"
                                                            class="text-white">Unlist</a>
                                                    </button>
                                                    <% } else { %>
                                                        <button class="btn btn-success" style="width: 70px;">
                                                            <a href="/admin/unListCategory?id=<%= cat[i]._id %>"
                                                                class="text-white">List</a>
                                                        </button>
                                                        <% } %>
                                            </td>
                                            <td class="text-start">
                                                <button class="btn btn-info">
                                                    <a href="/admin/editCategory?id=<%= cat[i]._id %>"
                                                        class="text-white">Edit</a>
                                                </button>
                                            </td>
                                        </tr>
                                        <% } %>
                                </tbody>
                            </table>

                        </div>
                    </div> <!-- .col// -->
                </div> <!-- .row // -->
            </div> <!-- card body .// -->
        </div> <!-- card .// -->
    </section> <!-- content-main end// -->

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <script>


        async function addOffer(categoryId) {
            // alert("here")
            const { value: amount } = await Swal.fire({
                title: 'Offer in percentage',
                input: 'number',
                inputLabel: 'Percentage',
                inputPlaceholder: '%'
            })
            $.ajax({
                url: "/admin/addCategoryOffer",
                method: "post",
                data: {
                    percentage: amount,
                    categoryId: categoryId
                },
                success: (response) => {
                    console.log(response);
                    if (response.status === true) {
                        location.reload()
                        // Swal.fire('Offer added', 'The offer has been removed.', 'success');

                    } else {
                        alert("failed")
                    }
                }
            })
        }

        function removeOffer(categoryId) {
            // alert(categoryId)
            try {
                Swal.fire({
                    title: 'Remove Offer',
                    text: 'Are you sure you want to remove this offer?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, remove it!',
                    timer: 5000,  // 5 seconds
                    timerProgressBar: true
                }).then(async (result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: "/admin/removeCategoryOffer",
                            method: "post",
                            data: {
                                categoryId: categoryId
                            },
                            success: (response) => {
                            console.log(response);
                            if (response.status === true) {
                                // Swal.fire('Removed!', 'The offer has been removed.', 'success');
                                location.reload()
                            } else if (response.status === false) {
                                Swal.fire('failed');
                            } else {
                                alert("failed")
                            }
                        }
                        });

                        
                    }
                });
            } catch (error) {
                console.error(error);
            }
        }





    </script>

    <!-- Add these in your HTML head section -->



    <%- include("../partials/adminFooter") %>