<%- include("../partials/adminHeader") %>

<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Category </h2>
            <p>Add, edit or delete a category</p>
        </div>
        <div>
            <input type="text" placeholder="Search cat" class="form-control bg-white">
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <form method="post" action="/admin/addCategory">
                        <div class="mb-4">
                            <label for="product_name" class="form-label">Name</label>
                            <input type="text" name="name" placeholder="Type here" class="form-control" id="product_name" />
                        </div>
                       
                      
                        <div class="mb-4">
                            <label class="form-label">Description</label>
                            <textarea placeholder="Type here" name="description" class="form-control"></textarea>
                        </div>
                        <div class="d-grid">
                            <button class="btn btn-primary" type="submit">Create category</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-7 ml-105">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">
                                    </th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Status</th>
                                    <th>List/Unlist</th>
                                    <th class="text-start">Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(let i=0; i < cat.length; i++) { %>
                                    <tr>
                                        <td>
                                            <!-- Content for the first column, if needed -->
                                        </td>
                                        <td class="text-start"><%= cat[i].name %></td>
                                        <td class="text-start"><%= cat[i].description %></td>
                                        <td class="text-start">
                                            <% if (cat[i].isListed === true) { %>
                                                <span class="badge rounded-pill alert-success" style="width: 60px;">Listed</span>
                                            <% } else { %>
                                                <span class="badge rounded-pill alert-danger" style="width: 60px;">Unlisted</span>
                                            <% } %>
                                        </td>                                        
                                        <td class="text-start">
                                            <% if (cat[i].isListed === true) { %>
                                                <button class="btn btn-success" style="width: 70px;">
                                                    <a href="/admin/listCategory?id=<%= cat[i]._id %>" class="text-white">List</a>
                                                </button>
                                            <% } else { %>
                                                <button class="btn btn-danger" style="width: 70px;">
                                                    <a href="/admin/unListCategory?id=<%= cat[i]._id %>" class="text-white">Unlist</a>
                                                </button>
                                            <% } %>
                                        </td>
                                        <td class="text-start">
                                            <button class="btn btn-info">
                                                <a href="/admin/editCategory?id=<%= cat[i]._id %>" class="text-white">Edit</a>
                                            </button>
                                        </td>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                        
                    </div>
                </div> <!-- .col// -->
            </div> <!-- .row // -->
        </div> <!-- card body .// -->
    </div> <!-- card .// -->
</section> <!-- content-main end// -->

<%- include("../partials/adminFooter") %>