<%- include("../partials/adminHeader") %>


    <style>
        .col-md-3 {
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 10px;
            margin: 10px;
        }

        .error-message {
            color: red;
            margin-top: 5px;
        }

        .form-label {
            margin-bottom: 8px;
        }

        .form-control {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }

        .d-grid {
            margin-top: 20px;
        }

        .btn-primary {
            background-color: #007bff;
            color: #fff;
            border: 1px solid #007bff;
            border-radius: 5px;
            padding: 10px 20px;
            cursor: pointer;
        }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }
    </style>

    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Coupons </h2>

            </div>

        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <form method="post" action="/admin/createCoupon">

                            <body onload="setDefaultStartDate()">

                                <div class="mb-4">
                                    <label for="coupon-name" class="form-label">Coupon Name</label>
                                    <input type="text" id="coupon-name" name="couponName" placeholder="Type here"
                                        class="form-control" />
                                    <div id="error-coupon-name" class="error-message"></div>
                                </div>

                                <div>
                                    <label for="startingDate" class="form-label">Start Date</label>
                                    <input type="date" name="startDate" class="form-control" required="true"
                                        id="startingDate" />
                                    <div id="error-start-date" class="error-message"></div>
                                </div>

                                <div>
                                    <label for="expiringDate" class="form-label">End Date</label>
                                    <input type="date" name="endDate" class="form-control" id="expiringDate"
                                        required="true" />
                                    <div id="error-end-date" class="error-message"></div>
                                </div>

                                <div>
                                    <label for="offer-price" class="form-label">Offer Price</label>
                                    <input type="text" name="offerPrice" placeholder="Type here" class="form-control" />
                                    <div id="error-offer-price" class="error-message"></div>
                                </div>

                                <div>
                                    <label for="minimum-price" class="form-label">Minimum Price</label>
                                    <input type="text" name="minimumPrice" placeholder="Type here"
                                        class="form-control" />
                                    <div id="error-minimum-price" class="error-message"></div>
                                </div>

                                <div class="d-grid">
                                    <button class="btn btn-primary mt-20" onclick=" return validateForm(event)"
                                        type="submit">Add Coupon</button>
                                </div>

                                <!-- Container for global error messages -->
                                <div id="err-msg" class="error-message"></div>

                            </body>
                        </form>

                    </div>
                    <div class="col-md-7 ml-105">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>


                                        <th>Name</th>
                                        <th>Created On</th>
                                        <th>Expire On</th>
                                        <th>Offer Price</th>
                                        <th>Minimum Price</th>
                                        <th>Status</th>

                                    </tr>
                                </thead>

                                
                                <% for (let i=0; i < coupons.length; i++) { %>
                                    <tbody>

                                        <td class="text-start">
                                            <%= coupons[i].name %>
                                        </td>
                                        <td class="text-start"><%= new Date(coupons[i].createdOn).toLocaleDateString('en-US') %></td>
                                        <td class="text-start"><%= new Date(coupons[i].expireOn).toLocaleDateString('en-US') %></td>
                                        

                                        <td class="text-start">
                                            <%= coupons[i].offerPrice %>
                                        </td>
                                        <td class="text-start">
                                            <%= coupons[i].minimumPrice %>
                                        </td>
                                        <td class="text-start">
                                            <%= coupons[i].isList %>
                                        </td>

                                    </tbody>
                                        <% } %>


                            </table>

                        </div>
                    </div> <!-- .col// -->
                </div> <!-- .row // -->
            </div> <!-- card body .// -->
        </div> <!-- card .// -->
    </section> <!-- content-main end// -->


    <script>
        function setDefaultStartDate() {
            const today = new Date();
            const year = today.getFullYear();
            let month = (today.getMonth() + 1).toString().padStart(2, '0'); // Add leading zero if needed
            let day = today.getDate().toString().padStart(2, '0'); // Add leading zero if needed

            // Set the default value of the "Start Date" input field to today's date
            document.getElementById('startingDate').value = `${year}-${month}-${day}`;
        }

        function validateForm() {
            // Reset all error messages
            document.querySelectorAll('.error-message').forEach(element => element.innerHTML = '');

            const sDate = document.getElementsByName('startDate')[0].value;
            const eDate = document.getElementsByName('endDate')[0].value;
            const sDateObj = new Date(sDate);
            const eDateObj = new Date(eDate);
            const todayDateObj = new Date();
            todayDateObj.setHours(0, 0, 0, 0);

            if (sDateObj > eDateObj) {
                document.getElementById('error-end-date').innerHTML = 'End date should be after the start date';
                return false;
            }

            if (sDateObj <= todayDateObj) {
                document.getElementById('error-start-date').innerHTML = 'Starting date should be greater than or equal to today\'s date';
                return false;
            }

            let name = document.getElementsByName('couponName')[0].value;
            const nameRegex = /^[A-Za-z0-9]{1,50}$/;

            if (!nameRegex.test(name)) {
                document.getElementById('error-coupon-name').innerHTML = 'Coupon Name error';
                return false;
            }

            const offerPriceInput = document.getElementsByName('offerPrice')[0];
            const minimumPriceInput = document.getElementsByName('minimumPrice')[0];

            const offerPrice = offerPriceInput.value.trim() !== '' ? parseInt(offerPriceInput.value) : NaN;
            const minimumPrice = minimumPriceInput.value.trim() !== '' ? parseInt(minimumPriceInput.value) : NaN;

            if (isNaN(offerPrice) || isNaN(minimumPrice) || offerPrice >= minimumPrice) {
                document.getElementById('error-offer-price').innerHTML = 'Offer Price must be greater than Minimum Price';
                return false;
            }

            if (isNaN(offerPrice) || isNaN(minimumPrice)) {
                document.getElementById('error-offer-price').innerHTML = 'Please enter numeric values for Offer Price and Minimum Price';
                return false;
            }


            //     const formData = {
            //     couponName: name,
            //     startDate: sDateObj,
            //     endDate: eDateObj,
            //     offerPrice: offerPrice,
            //     minimumPrice: minimumPrice
            // };

            // console.log(formData);

            // If there are no errors, the form will submit naturally
            return true;
        }



    </script>






    <%- include("../partials/adminFooter") %>