<%- include("../partials/adminHeader") %>




<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Order List </h2>
            <!-- <p>Lorem ipsum dolor sit amet.</p> -->
        </div>
    
    </div>
   
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Total</th>
                            <th scope="col">Status</th>
                            <th scope="col">Date</th>
                            <th scope="col" class="text-end"> Action </th>
                        </tr>
                    </thead>
                    <tbody>
                     

                        <% for (let i = 0; i < orders.length; i++) { %>
                            
                            <tr>
                            <td><%= orders[i]._id %></td>
                            <td><b><%= orders[i].address[0].name %></b></td>
                            <td><%= orders[i].address[0].phone %></td>
                            <td><%= orders[i].product[0].price.toLocaleString() %></td>
                            <td><span class="badge rounded-pill alert-warning"><%= orders[i].status %></span></td>
                            <td> <% const dateOptions = { day: '2-digit', month: 'short', year: 'numeric' }; %>
                                <%= new Date(orders[0].createdOn).toLocaleDateString('en-US', dateOptions) %></td>
                            <td class="text-end">
                                <a href="#" class="btn btn-md rounded font-sm">Detail</a>
                                <div class="dropdown">
                                    <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">View detail</a>
                                        <a class="dropdown-item" href="#">Edit info</a>
                                        <a class="dropdown-item text-danger" href="#">Delete</a>
                                    </div>
                                </div> 
                            </td>
                        </tr>
                            
                      <%  } %>
                       
                       
                    </tbody>
                </table>
            </div> <!-- table-responsive //end -->
        </div> <!-- card-body end// -->
    </div> <!-- card end// -->
    <div class="pagination-area mt-15 mb-50">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-start">
                <li class="page-item active"><a class="page-link" href="#">01</a></li>
                <li class="page-item"><a class="page-link" href="#">02</a></li>
                <li class="page-item"><a class="page-link" href="#">03</a></li>
                <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                <li class="page-item"><a class="page-link" href="#">16</a></li>
                <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
            </ul>
        </nav>
    </div>
</section>


<%- include("../partials/adminFooter") %>