<%- include("../partials/adminHeader") %>


<div class="content-header">
    <div>
        <h2 class="content-title card-title">Products</h2>
        
    </div>
   
</div>
<header class="card-header text-center mb-20">
    <form action="/admin/products/" method="get" class="d-inline">
        <div class="input-group input-group-sm border border-1 border-grey rounded-pill" style="width: 500px; margin-left: 230px;">
            <input type="text" class="form-control border-0 rounded-pill" placeholder="Search products or brands" name="search">
            <button class="btn  border-0" type="submit">Search</button>
        </div>
    </form>
</header><!-- card-header end// -->


    <div class="right mt-5">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col"><b>Product name</b></th>
                <th scope="col"><b>Brand</b></th>
                <th scope="col"><b>Category</b></th>
                <th scope="col"><b>Sale Price</b></th>
                <th scope="col"><b>Action</b></th>
                <th scope="col"><b>Edit</b></th>
              </tr>
            </thead>
            <tbody>
                <% for(let i = 0; i < data.length; i++) {    %>
                    <tr>
                        <td><%= data[i].productName %></td>
                        <td><%= data[i].brand %></td>
                        <td><%= data[i].category %></td>
                        <td>₹<%= data[i].salePrice %></td>
                        
                        <td> 
                           <% if (data[i].isBlocked === false) { %>
                                <button class="btn btn-danger" style="width: 80px;">
                                    <a href="/admin/blockProduct?id=<%= data[i]._id %>" class="text-white" style="text-decoration: none;">Block</a>
                                </button>
                           <% } else { %>
                                <button class="btn btn-success" style="width: 80px;">
                                    <a href="/admin/unBlockProduct?id=<%= data[i]._id %>" class="text-white" style="text-decoration: none;">Unblock</a>
                                </button> 
                           <% } %>
                        </td>
                     <td>
                        <button class="btn btn-info" style="width: 80px;">
                            <a href="/admin/editProduct?id=<%= data[i]._id %>" class="text-white" style="text-decoration: none;">Edit</a>
                        </button>
                     </td>
                    </tr>
                <% } %>
            </tbody>
            
          </table>
    </div>

        
       
        
    </div> <!-- card-body end// -->
</div> <!-- card end// -->

</section>  -->
</section> 

<%- include("../partials/adminFooter") %>