<%- include("../partials/adminHeader") %>

    <style>
        .pagination {
            display: flex;
            justify-content: center;
        }

        .btn {
            /* Add your button styling here */
            margin: 0 5px;
            padding: 5px 10px;
            background-color: #f0f0f0;
            border: 1px solid #ccc;
            text-decoration: none;
            color: #333;
        }

        .active {
            /* Add styles for the active page */

            color: #fff;
        }

        .btn:hover {
            /* Add styles for button hover state */
            background-color: #ddd;
        }
    </style>

    <div class="content-header row">
        <div class="d-flex justify-content-between align-items-center">
            <h2 class="content-title card-title">Sales Report</h2>

        </div>
    </div>

    <div class="card mb-4">
        <header class="card-header">
            <div class="row gx-3">


                <div class="col-lg-2 col-6 col-md-3">
                    <select class="form-select" onchange="location.href='/admin/salesReport?day=' + this.value">
                        <% if (locals.salesToday) { %>
                            <option value="salesToday" selected>salesToday</option>
                            <option value="salesWeekly">salesWeekly</option>
                            <option value="salesMonthly">salesMonthly</option>
                            <option value="salesYearly">salesYearly</option>
                            <% } else if (locals.salesWeekly) { %>
                                <option value="salesWeekly" selected>salesWeekly</option>
                                <option value="salesToday">salesToday</option>
                                <option value="salesMonthly">salesMonthly</option>
                                <option value="salesYearly">salesYearly</option>
                                <% } else if (locals.salesMonthly) { %>
                                    <option value="salesMonthly" selected>salesMonthly</option>
                                    <option value="salesToday">salesToday</option>
                                    <option value="salesWeekly">salesWeekly</option>
                                    <option value="salesYearly">salesYearly</option>
                                    <% } else if (locals.salesYearly) { %>
                                        <option value="salesYearly" selected>salesYearly</option>
                                        <option value="salesToday">salesToday</option>
                                        <option value="salesWeekly">salesWeekly</option>
                                        <option value="salesMonthly">salesMonthly</option>
                                        <% } %>
                    </select>
                </div>
            </div>
        </header>
    </div>




    <div class="right mt-5">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Order ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Product ID</th>
                    <th scope="col">Date and Time</th>
                    <th scope="col">Payment</th>
                    <th scope="col">Status</th>
                    <th scope="col">Total Price</th>

                </tr>
            </thead>
            <tbody>
                <% if (locals.data) { %>
                    <% for(let i=0; i < data.length; i++) { %>
                        <tr>
                            <td>
                                <%= data[i]._id %>
                            </td>
                            <td>
                                <%= data[i].address[0].name %>
                            </td>
                            <td>
                                <%= data[i].product[0].name %>
                            </td>




                            <td>
                                <%= data[i].createdOn.toLocaleString('en-IN') %>
                            </td>




                            <td>
                                <%= data[i].payment %>

                            </td>

                            <td>
                                <p class="badge rounded-pill alert-success">
                                    <%= data[i].status %>
                                </p>
                            </td>

                            <td>
                                <%= data[i].totalPrice.toLocaleString() %>
                            </td>

                        </tr>
                        <% } %>
                            <% }else{ %>

                                No Orders Found

                                <% } %>
            </tbody>

        </table>


        <% if (totalPages) { %>
            <div class="pagination">
                <% if (currentPage> 1) { %>
                    <button class="btn btn-sm"><a
                            href="/admin/salesReport?page=<%= currentPage - 1 %>">Previous</a></button>
                    <% } %>

                        <% for (let i=1; i <=totalPages; i++) { %>
                            <button class="btn btn-sm <%= i === currentPage ? 'active' : '' %>">
                                <a href="/admin/salesReport?page=<%= i %>">
                                    <%= i %>
                                </a>
                            </button>
                            <% } %>

                                <% if (currentPage < totalPages) { %>
                                    <button class="btn btn-sm"><a
                                            href="/admin/salesReport?page=<%= currentPage + 1 %>">Next</a></button>
                                    <% } %>
            </div>
            <% } %>




                <div class="container mt-3">
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center mb-20" style="margin-right: 200px;">



                        </ul>
                    </nav>
                </div>






                <%- include("../partials/adminFooter") %>