<%- include("../partials/header") %>





    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span></span> Shop
                    <span></span> Your Cart
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table shopping-summery text-center clean">
                                <thead>
                                    <tr class="main-heading">
                                        <th scope="col">Image</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Subtotal</th>
                                        <th scope="col">Remove</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <% if (product.length> 0) { %>

                                        <% for (let i=0; i < product.length;i++) { %>

                                            <tr>
                                                <td class="image product-thumbnail">
                                                    <img src="/uploads/product-images/<%= product[i].productImage[0] %>"
                                                        alt="#" />
                                                </td>
                                                <td class="product-des product-name">
                                                    <h5 class="product-name">
                                                        <a href="shop-product-right.html">
                                                            <%= product[i].productName %>
                                                        </a>
                                                    </h5>
                                                    <p class="font-xs">
                                                        <%= product[i].category %><br />
                                                            <%= product[i].brand %>.
                                                    </p>
                                                </td>
                                                <td class="price" data-title="Price"><span>₹ <%= product[i].regularPrice
                                                            %> </span></td>
                                                <td class="text-center" data-title="Stock">
                                                    <div class="detail-qty border radius m-auto">

                                                    </div>
                                                </td>
                                                

                                                <td class="action" data-title="Remove">
                                                    <a class="btn btn-sm" href="/deleteItem?id=<%= product[i].id %>">
                                                        <i class="fi-rs-trash"></i>
                                                    </a>
                                                </td>
                                                



                                                <% } %>
                                                    <% } else { %>
                                            <tr>
                                                <td colspan="2">No item found in Cart</td>
                                            </tr>
                                            <% } %>


                                </tbody>
                            </table>
                        </div>
                        <div class="cart-action text-end">
                            <a class="btn  mr-10 mb-sm-15"><i class="fi-rs-shuffle mr-10"></i>Update Cart</a>
                            <a class="btn "><i class="fi-rs-shopping-bag mr-10"></i>Continue Shopping</a>
                        </div>
                    </div>

                </div>
            </div>
            </div>
            </div>
        </section>
    </main>

    <%- include("../partials/footer") %>


        <script>
       
        </script>