<%- include("../partials/header") %>





    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span></span> Shop
                    <span></span> Your Cart
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-9">
                        <div class="table-responsive">
                            <table class="table shopping-summery text-center clean">
                                <thead>
                                    <tr class="main-heading">
                                        <th scope="col">Image</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Remove</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <% if (data.length> 0) { %>
                                        <% var x=0 %>
                                            <% for (let i=0; i < data.length;i++) { %>

                                                <tr>
                                                    <td class="image product-thumbnail">
                                                        <img src="/uploads/product-images/<%= data[i].productDetails[0].productImage[0] %>"
                                                            alt="#" />
                                                    </td>
                                                    <td class="product-des product-name">
                                                        <h5 class="product-name">
                                                            <a href="shop-product-right.html">
                                                                <%= data[i].productDetails[0].productName %>
                                                            </a>
                                                        </h5>
                                                        <p class="font-xs">
                                                            <%= data[i].productDetails[0].category %><br />
                                                                <%= data[i].productDetails[0].brand %>.
                                                        </p>
                                                    </td>
                                                    <td class="price" data-title="Price">₹<span> <text
                                                                id="subTotal<%= data[i].productDetails[0].id %>">
                                                                <%= data[i].productDetails[0].salePrice * data[i].quantity %>
                                                            </text><br>
                                                            <small class="text-muted text-nowrap">₹<span id="price">
                                                                    <%= data[i].productDetails[0].salePrice %>

                                                                </span>
                                                                / per item </small>

                                                    </td>
                                                    <% console.log(data[i].productDetails[0].salePrice * data[i].quantity,"qqqq"); %>

                                                        <% x +=data[i].productDetails[0].salePrice * data[i].quantity%>


                                                            <td class="text-center" data-title="Stock">
                                                                <div class="detail-qty border radius m-auto">
                                                                    <div class="quantity-control">


                                                                        <script>

                                                                        </script>
                                                                        <button class="btn btn-sm increment-button"
                                                                            onclick="changeQuantity('<%= data[i].productDetails[0]._id %>', '<%= data[i].quantity %>', 1, '<%= data[i].productDetails[0].salePrice %>',  '<%= data[i].productDetails[0].id %>', '<%= data[i].productDetails[0].quantity%>')">+</button>


                                                                        <input class="quantity-input"
                                                                            id="cartProductQuantity<%= data[i].productDetails[0].id %>"
                                                                            value="<%= data[i].quantity %>"
                                                                            style="width: 45px;" type="text" readonly
                                                                            value="">



                                                                        <button class="btn btn-sm decrement-button"
                                                                            onclick="changeQuantity('<%= data[i].productDetails[0]._id %>', '<%= data[i].quantity %>', -1, '<%= data[i].productDetails[0].salePrice %>',  '<%= data[i].productDetails[0].id %>', '<%= data[i].productDetails[0].quantity%>')">-</button>



                                                                    </div>
                                                                </div>
                                                            </td>





                                                            <td class="action" data-title="Remove">
                                                                <a class="btn btn-sm"
                                                                    href="/deleteItem?id=<%= data[i].productDetails[0]._id %>">
                                                                    <i class="fi-rs-trash"></i>
                                                                </a>
                                                            </td>




                                                            <% } %>
                                                                <% } else { %>
                                                <tr>

                                                    <td colspan="2" class="text-center">
                                                        <p class="lead mb-4">No item found in Cart</p>
                                                    </td>


                                                </tr>
                                                <% } %>
                                                    <% console.log(x,"xxx"); %>

                                                        <input type="hidden" name="" id="totalabc" value="<%= x  %>">

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="border p-md-4 p-30 border-radius cart-totals">
                            <div class="heading_s1 mb-3">
                                <h4>PRICE DETAILS</h4>
                            </div>
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>

                                        <tr>
                                            <td class="cart_total_label">Shipping</td>
                                            <td class="cart_total_amount"> <i class="ti-gift mr-5"></i> Free Shipping
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="cart_total_label">Total</td>
                                            <td class="cart_total_amount"><span class="font-lg fw-900 text-brand">₹
                                                    <text id="total">
                                                        <%= grandTotal %>
                                                    </text>
                                                </span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <a href="/checkout?userId=<%= user._id %>" class="btn "> <i class="fi-rs-box-alt mr-10"></i>
                                Proceed To CheckOut</a>
                        </div>
                    </div>

                </div>

            </div>
            </div>
            </div>
            </div>
        </section>
    </main>



    <script>
        function changeQuantity(productId, cartQuantity, count, productPrice, i, productQuantity) {
            
            // alert(productPrice)
            // alert(cartQuantity)
            // alert(i)

            const abc = document.getElementById("totalabc").value
            console.log(abc, "hi");
            console.log(productId, cartQuantity, count, productPrice, i, productQuantity);
            const cartProductQuantityElement = document.querySelector(`#cartProductQuantity${i}`)
            // alert('quantity')
            // alert(cartProductQuantityElement.value,'quantity')
            const subtotalElement = document.querySelector(`#subTotal${i}`);
            // alert(subtotalElement.innerHTML,"subelm")
            const totalElements = document.getElementById('total').innerHTML;
            // alert(parseInt(subtotalElement.innerHTML)+ parseInt(productPrice))

         
          

            let currentQuantity = parseInt(cartProductQuantityElement.value)
            
            const currentSubTotal = parseInt(subtotalElement.innerHTML)
            // alert(currentSubTotal+"sub")

            // alert(currentTotal+"total")

            const newQuantity = currentQuantity + count
            // alert(newQuantity)

            if (count === -1 && newQuantity < 1) {
                return; 
            }

            if(currentSubTotal < currentSubTotal){
                return
            }

            if (count == 1 && newQuantity > productQuantity) {


                Swal.fire({
                    title: 'STOCK!',
                    text: 'Product is out of stock.',
                    icon: 'error',
                    timer: 5000
                })
                return
            }

            const newSubtotal = newQuantity * productPrice
            if (count == 1) {
                // alert('1')
                document.getElementById(`subTotal${i}`).innerHTML = parseInt(subtotalElement.innerHTML) + parseInt(productPrice)
            } else {
                // alert('else')
                document.getElementById(`subTotal${i}`).innerHTML = parseInt(subtotalElement.innerHTML) - parseInt(productPrice)
            }



            // alert('in starting '+newTotal)
            $.ajax({
                url: '/changeQuantity',
                method: 'POST',
                data: {
                    productId: productId,
                    quantity: newQuantity,
                    count: count
                },

                success: (response) => {
                    //   alert('sucess')
                    // location.reload()


                    let currentQuantity = parseInt(cartProductQuantityElement.value)
                    // alert(currentQuantity,"currQua")
                    let currentSubTotal = parseInt(subtotalElement.value)
                    // alert(subtotalElement.value,"subttl")
                    // alert(currentTotal,"ctotal")
                    document.getElementById(`cartProductQuantity${i}`).value = currentQuantity + count

                    document.getElementById(`subTotal${i}`).value = currentSubTotal * count
                    // alert(parseInt(abc) + parseInt(response.totalAmount),"helloooooooooooooooooooo")
                    if (response.count == 1) {
                        console.log("TOtal Element == >" , totalElements)
                        document.getElementById(`total`).innerHTML = parseInt(totalElements) + parseInt(response.totalAmount)
                    } else {
                        document.getElementById(`total`).innerHTML = parseInt(totalElements) - parseInt(response.totalAmount)

                    }


                },
                error: (error) => {
                    // alert(error)    
                }
            })
        }








    </script>




    <%- include("../partials/footer") %>