<%- include("../partials/header") %>

<head>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

</head>

<style>
    .home-slider {
        overflow: hidden; /* Hide any content that overflows the container */
    }

    .swiper-container {
        max-width: 100%; /* Limit the maximum width to 100% of the parent container */
        overflow: hidden; /* Hide any content that overflows the container */
    }

    .swiper-wrapper {
        display: flex; /* Ensure the wrapper items are displayed in a row */
    }

    .swiper-slide {
        width: 100%; /* Make each slide take up the full width of the container */
        box-sizing: border-box; /* Include padding and border in the element's total width and height */
    }
</style>


    <main class="main">
    
<section class="home-slider position-relative pt-70 pb-50">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <% for (let i = 0; i < banner.length; i++) { %>
                <div class="swiper-slide">
                    <div class="single-hero-slider single-animation-wrap">
                        <div class="container">
                            <div class="row align-items-center slider-animated-1">
                                <div class="col-lg-12">
                                    <div class="single-slider-img single-slider-img-1">
                                        <!-- Place your banner image here -->
                                        <img class="animated slider-1-1" src="/uploads/product-images/<%= banner[i].image %>" alt="" style="width: 100%; height: auto;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</section>

        <section class="popular-categories section-padding mt-15 mb-25">
            <div class="container wow fadeIn animated">
                <h3 class="section-title mb-20"><span>Popular</span> Categories</h3>
                <div class="carausel-6-columns-cover position-relative">
                    <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-arrows">
                    </div>
                    <div class="carausel-6-columns" id="carausel-6-columns">
                        <div class="card-1">
                            <figure class=" img-hover-scale overflow-hidden">
                                <a href="products-grid-right.html"><img
                                        src="user-assets/imgs/category/category-gaming.webp" alt=""></a>
                            </figure>
                            <!-- <h5><a href="products-grid-right.html">T-Shirt</a></h5> -->
                        </div>
                        <div class="card-1">
                            <figure class=" img-hover-scale overflow-hidden">
                                <a href="products-grid-right.html"> <img
                                        src="user-assets/imgs/category/category-contentCreation.webp" alt=""></a>
                            </figure>
                            <!-- <h5><a href="products-grid-right.html">Bags</a></h5> -->
                        </div>
                        <div class="card-1">
                            <figure class=" img-hover-scale overflow-hidden">
                                <a href="products-grid-right.html"><img
                                        src="user-assets/imgs/category/category-entertainment.webp" alt=""></a>
                            </figure>
                            <!-- <h5><a href="products-grid-right.html">Sandan</a></h5> -->
                        </div>
                        <div class="card-1">
                            <figure class=" img-hover-scale overflow-hidden">
                                <a href="products-grid-right.html"><img
                                        src="user-assets/imgs/category/category-everydayUse.webp" alt=""></a>
                            </figure>
                            <!-- <h5><a href="products-grid-right.html">Scarf Cap</a></h5> -->
                        </div>
                        <div class="card-1">
                            <figure class=" img-hover-scale overflow-hidden">
                                <a href="products-grid-right.html"><img
                                        src="user-assets/imgs/category/category-officeUse.webp" alt=""></a>
                            </figure>
                            <!-- <h5><a href="products-grid-right.html">Shoes</a></h5> -->
                        </div>
                        <div class="card-1">
                            <figure class=" img-hover-scale overflow-hidden">
                                <a href="products-grid-right.html"><img
                                        src="user-assets/imgs/category/category-studies.webp" alt=""></a>
                            </figure>
                            <!-- <h5><a href="products-grid-right.html">Pillowcase</a></h5> -->

                        </div>
                    </div>
                </div>
        </section>






        <!-- Featured Brands -->







        <section class="section-padding">
            <div class="container">
                <h3 class="section-title mb-20 wow fadeIn animated"><span>Featured</span> Brands</h3>
                <div class="carausel-6-columns-cover position-relative wow fadeIn animated">
                    <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-3-arrows">
                    </div>
                    <div class="carausel-6-columns text-center" id="carausel-6-columns-3">



                        <% for (let i=0; i < data.length; i++) { %>
                            <div class="brand-logo">
                                <img class="img-grey-hover" src="/uploads/brand-images/<%= data[i].brandImage %>"
                                    alt="">
                            </div>
                            <% } %>




                    </div>
                </div>
            </div>
        </section>






        <!-- Featured, Popular, Newly Added ---Product List -->





        <section class="product-tabs section-padding position-relative wow fadeIn animated">
            <div class="bg-square"></div>
            <div class="container">
                <div class="tab-header">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                   
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="nav-tab-three" data-bs-toggle="tab" data-bs-target="#tab-three"
                                type="button" role="tab" aria-controls="tab-three" aria-selected="false">New
                                added</button>
                        </li>
                    </ul>
                    <a href="#" class="view-more d-none d-md-flex">View More<i
                            class="fi-rs-angle-double-small-right"></i></a>
                </div>
                <!--End nav-tabs-->
                <div class="tab-content wow fadeIn animated" id="myTabContent">
                    <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
                        <div class="row product-grid-4">


                            <% for (let i=0; i < products.length; i++) { %>

                                <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                    <div class="product-cart-wrap mb-30">
                                        <div class="product-img-action-wrap">
                                            <div class="product-img product-img-zoom">
                                                <a href="/productDetails?id=<%=products[i].id%>">
                                                    <img class="default-img"
                                                        src="/uploads/product-images/<%=products[i].productImage[0]%>" alt="">
                                                    
                                                </a>
                                            </div>
                                            <div class="product-action-1">
                                               
                                                <a aria-label="Add To Wishlist" class="action-btn hover-up"
                                                    href="products-wishlist.html"><i class="fi-rs-heart"></i></a>
                                               
                                            </div>
                                            <div class="product-badges product-badges-position product-badges-mrg">
                                                <span class="hot">New</span>
                                            </div>
                                        </div>
                                        <div class="product-content-wrap">
                                            <div class="product-brand">
                                                <a href="products-grid-right.html"><%-products[i].brand%></a>
                                            </div>
                                            <h2><a href="products-product-right.html"><%-products[i].productName%></a></h2>
                                            <!-- <div class="rating-result" title="90%">
                                                <span>
                                                    <span>90%</span>
                                                </span>
                                            </div> -->
                                            <div class="product-price">
                                                <span>₹<%-products[i].salePrice.toLocaleString('en-IN')%> </span>
                                                <span class="old-price">₹<%-products[i].regularPrice.toLocaleString('en-IN')%></span>
                                            </div>
                                            <div class="product-action-1 show">
                                                <a aria-label="Add To Cart" class="action-btn hover-up"
                                                    href="products-cart.html"><i
                                                        class="fi-rs-productsping-bag-add"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% } %>


                        </div>
                    </div>
                </div>
            </div>
            <!--End product-grid-4-->
            </div>
            <!--En tab three (New added)-->
            </div>
            <!--End tab-content-->
            </div>
        </section>

        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

        <script>
            var swiper = new Swiper('.swiper-container', {
                slidesPerView: 1,
                spaceBetween: 10,
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                },
            });
        </script>


        <%- include("../partials/footer") %>