<%- include("../partials/header") %>


    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span></span> Pages
                    <span></span> Account
                </div>
            </div>
        </div>
        <section class="pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="dashboard-menu">
                                    <ul class="nav flex-column" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="dashboard-tab" data-bs-toggle="tab"
                                                href="#dashboard" role="tab" aria-controls="dashboard"
                                                aria-selected="false"><i
                                                    class="fi-rs-settings-sliders mr-10"></i>Dashboard</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="orders-tab" data-bs-toggle="tab" href="#orders"
                                                role="tab" aria-controls="orders" aria-selected="false"><i
                                                    class="fi-rs-shopping-bag mr-10"></i>Orders</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="track-orders-tab" data-bs-toggle="tab"
                                                href="#track-orders" role="tab" aria-controls="track-orders"
                                                aria-selected="false"><i
                                                    class="fi-rs-shopping-cart-check mr-10"></i>Wallet Status</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="track-orders-tab" data-bs-toggle="tab"
                                                href="#wallet-history" role="tab" aria-controls="track-orders"
                                                aria-selected="false"><i
                                                    class="fi-rs-shopping-cart-check mr-10"></i>Wallet History</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="track-orders-tab" data-bs-toggle="tab"
                                                href="#referal" role="tab" aria-controls="track-orders"
                                                aria-selected="false"><i
                                                    class="fi-rs-shopping-cart-check mr-10"></i>Referals</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="address-tab" data-bs-toggle="tab" href="#address"
                                                role="tab" aria-controls="address" aria-selected="true"><i
                                                    class="fi-rs-marker mr-10"></i>My Address</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="account-detail-tab" data-bs-toggle="tab"
                                                href="#account-detail" role="tab" aria-controls="account-detail"
                                                aria-selected="true"><i class="fi-rs-sign-out mr-10"></i>Account
                                                details</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="page-login-register.html"><i
                                                    class="fi-rs-sign-out mr-10"></i>Logout</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="tab-content dashboard-content">
                                    <div class="tab-pane fade show active" id="dashboard" role="tabpanel"
                                        aria-labelledby="dashboard-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="mb-0">User Profile</h5>
                                            </div>
                                            <div class="card-body text-center">
                                                <img src="/user-assets/imgs/theme/icons/user-profile.svg"
                                                    class="card-img-top rounded-circle mx-auto mt-3" alt="Profile Image"
                                                    style="width: 100px; height: 100px; object-fit: cover;">
                                                <div class="card-body text-center">
                                                    <h5 class="card-title">
                                                        <%= user.name %>
                                                    </h5>
                                                    <p class="card-text"><strong>Email:</strong>
                                                        <%= user.email %>
                                                    </p>
                                                    <p class="card-text"><strong>Phone:</strong>
                                                        <%= user.phone %>
                                                    </p>
                                                    <p class="card-text"><strong>Account Id:</strong>
                                                        <%= user._id %>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="mb-0">Your Orders</h5>
                                            </div>
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>Order</th>
                                                                <th>Status</th>
                                                                <th>Total</th>
                                                                <th>Actions</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            <% if (order) { %>

                                                                <% for (let i=0; i < order.length; i++) { %>
                                                                    <tr>
                                                                        <td>
                                                                            <%= order[i]._id %>
                                                                        </td>

                                                                        <td>
                                                                            <%= order[i].status %>
                                                                        </td>


                                                                        <td>
                                                                            <%= order[i].totalPrice %>
                                                                        </td>


                                                                        <td><a href="/orderDetails?id=<%= order[i]._id %>"
                                                                                class="btn-small d-block">View</a></td>
                                                                    </tr>
                                                                    <% } %>


                                                                        <% }else{ %>

                                                                            <td>No Orders found</td>

                                                                            <% } %>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="track-orders" role="tabpanel"
                                        aria-labelledby="track-orders-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="mb-0">Wallet</h5>
                                            </div>
                                            <div class="card-body contact-from-area">

                                                <div class="row">
                                                    <div class="col-lg-8 mx-auto text-center mt-90">
                                                        <form>
                                                            <div class="form-group">
                                                                <label for="walletAmount" class="h4">Amount</label>
                                                                <div class="h3">₹<%= user.wallet %>
                                                                </div>
                                                            </div>

                                                            <button type="button" class="btn btn-success"
                                                                onclick="addMoney()">Add Money</button>
                                                        </form>
                                                    </div>
                                                </div>



                                            </div>
                                        </div>
                                    </div>







                                    <div class="tab-pane fade" id="wallet-history" role="tabpanel"
                                        aria-labelledby="orders-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="mb-0">Wallet History</h5>
                                            </div>
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>Date</th>
                                                                <th>Status</th>
                                                                <th>Amount</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            <% if (user.history) { %>

                                                                <% for (let i=0; i < user.history.length; i++) { %>
                                                                    <tr>
                                                                        <td>
                                                                            <% const dateObject=(user.history[i].date
                                                                                instanceof Date) ? user.history[i].date
                                                                                : new Date(user.history[i].date); %>
                                                                                <%= dateObject.toLocaleDateString() %>
                                                                        </td>

                                                                        <td>
                                                                            <%= user.history[i].status %>
                                                                        </td>
                                                                        <td>
                                                                            <% if (user.history[i].status==="debit" ) {
                                                                                %>
                                                                                -<%= user.history[i].amount %>
                                                                                    <% }else{ %>
                                                                                        <%= user.history[i].amount %>
                                                                                            <% } %>
                                                                        </td>
                                                                    </tr>
                                                                    <% } %>

                                                                        <% }else{ %>

                                                                            <td>No Orders found</td>

                                                                            <% } %>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>







                                    <div class="tab-pane fade" id="referal" role="tabpanel"
                                        aria-labelledby="track-orders-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="mb-0">Referal Offer</h5>
                                            </div>
                                            <div class="card-body contact-from-area">

                                                <div class="row">
                                                    <div class="col-lg-8 mx-auto text-center mt-50">
                                                        <form onsubmit="verifyReferalCode(event)" method="post" action="">
                                                            <div class="form-group">
                                                                <label for="walletAmount" class="h4">Your referal
                                                                    code</label>
                                                                <% if (locals.user.referalCode) { %>
                                                                    <br>
                                                                    <h5>
                                                                        <%= locals.user.referalCode %>
                                                                    </h5>
                                                                    <% }else{ %>
                                                                        <br>
                                                                        <h5>No referal code found</h5>
                                                                        <% } %>
                                                            </div>

                                                            <div class="mt-60">
                                                                <h5>Do you have a code?</h5>
                                                                <br>
                                                                <input class="border-1" id="referalCode" type="text"
                                                                    name="referalCode" required
                                                                    style="border: 1px solid #000; width: 200px;">
                                                                <br><br>
                                                                <button type="submit">Get reward</button>
                                                            </div>

                                                        </form>
                                                    </div>
                                                </div>



                                            </div>
                                        </div>
                                    </div>







                                    <div class="tab-pane fade" id="address" role="tabpanel"
                                        aria-labelledby="address-tab">
                                        <div class="row">

                                            <%if(userAddress){%>
                                                <%userAddress.address.forEach((address)=>{%>
                                                    <div class="col-lg-6">
                                                        <div class="card  mb-3 mb-lg-0">
                                                            <div class="card-header">
                                                                <h5 class="mb-0">
                                                                    <%=address.addressType%>
                                                                </h5>
                                                            </div>

                                                            <div class="card-body">
                                                                <address>
                                                                    <%=address.name%><br />
                                                                        <%=address.city%>,<br />
                                                                            <%=address.landMark%> <br />
                                                                                <%=address.state%>
                                                                </address>
                                                                <p>
                                                                    <%=address.pincode%>
                                                                </p>
                                                                <p>
                                                                    <%=address.phone%>
                                                                </p>
                                                                <p>
                                                                    <%=address.altPhone%>
                                                                </p>
                                                                <div class="d-flex justify-content-between">
                                                                    <a href="/editAddress?id=<%=address._id%>"
                                                                        class="btn-small">Edit</a>
                                                                    <a href="/deleteAddress?id=<%=address._id%>"
                                                                        class="btn-small">Delete</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <%})%>
                                                        <%}else{%>
                                                            <div class="col-lg-6">
                                                                <div class="card  mb-3 mb-lg-0">
                                                                    <div class="card-header">
                                                                        <h5 class="mb-0"></h5>
                                                                    </div>
                                                                    <div class="card-body">
                                                                        <address>
                                                                            No address
                                                                        </address>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <%}%>
                                                                <div>
                                                                    <a href="/addAddress">
                                                                        <button class="btn btn-primary w-70">Add
                                                                            address</button>
                                                                    </a>
                                                                </div>


                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="account-detail" role="tabpanel"
                                        aria-labelledby="account-detail-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5>Account Details</h5>
                                            </div>
                                            <div class="card-body">

                                                <form method="post" action="/editUserDetails?id=<%= user._id %>">
                                                    <div class="row">
                                                        <div class="form-group col-md-6">
                                                            <label> Name <span class="required">*</span></label>
                                                            <input required="" value="<%= user.name %>"
                                                                class="form-control square" name="name" type="text">
                                                        </div>

                                                        <div class="form-group col-md-12">
                                                            <label>Mobile Number <span class="required">*</span></label>
                                                            <input required="" value="<%= user.phone %>"
                                                                class="form-control square" name="phone" type="text">
                                                        </div>
                                                        <div class="col-md-12 mt-15">
                                                            <button type="submit" class="btn btn-fill-out submit"
                                                                name="submit" value="Submit">Save</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
        <script>
            async function addMoney() {
                const { value: amount } = await Swal.fire({
                    title: 'Enter the Amount',
                    input: 'number',
                    inputLabel: 'Amount',
                    inputPlaceholder: '₹'
                })
                $.ajax({
                    url: "/addMoney",
                    method: "post",
                    data: {
                        total: amount
                    },
                    success: (data) => {
                        if (data.razorpay) {
                            var options = {
                                "key": "rzp_test_sPwoxcRC0hnSFO",
                                "amount": data.order.amount,
                                "currency": "INR",
                                "name": "LapLux",
                                "description": "Test Transaction",
                                "image": "https://example.com/your_logo",
                                "order_id": data.order.id,
                                "handler": function (response) {
                                    verifyPayment(response, data);
                                },
                                "prefill": {
                                    "name": "Customer Name",
                                    "email": "customer@example.com",
                                    "contact": "9000090000"
                                },

                                "theme": {
                                    "color": "#3399cc"
                                }
                            }
                            console.log(options);
                            var rzp1 = new Razorpay(options);
                            rzp1.open();
                        }
                    }
                })
            }



            function verifyPayment(response, order) {

                $.ajax({
                    url: '/verify-payment',
                    method: 'post',
                    data: {
                        order,
                        response,
                        from: "wallet"
                    }, success: (response) => {
                        if (response) {
                            Swal.fire({
                                title: "Success",
                                text: "Payment has been succeed",
                                icon: "success",

                            }).then(function () {
                                location.reload()
                            });
                        } else {
                            Swal.fire("PAYMENT ERROR!", "Something wrong occured while processing the payment.", "error");
                            location.reload()
                        }

                    }
                })
            }


            function verifyReferalCode() {
                event.preventDefault();
                let referalCode = document.getElementById("referalCode").value
          
                $.ajax({
                    url: "/verifyReferalCode",
                    method: "post",
                    data: {
                        referalCode
                    },
                    success: (response) => {
                        console.log(response.message);
                        if (response.message == "Referral code verified successfully!") {
                            Swal.fire({
                                icon: 'success',
                                title: 'Success!',
                                text: 'Referal offer redeemed successfully!',
                            })
                        }else if(response.message == "You have already used this referral code!"){
                            Swal.fire({
                                icon: 'warning',
                                title: 'Oops',
                                text: 'You have already used this referral code!',
                            })
                        }else if(response.message == "Invalid referral code!"){
                            Swal.fire({
                                icon: 'warning',
                                title: 'Oops',
                                text: 'Invalid referral code!',
                            }) 
                        }else if(response.message == "You have already redeemed a referral code before!"){
                            Swal.fire({
                                icon: 'warning',
                                title: 'Oops',
                                text: 'You have already redeemed a referral code before!',
                            }) 
                        }else{
                            Swal.fire({
                                icon: 'error',
                                title: 'Error',
                                text: '',
                            })
                        }


                    }
                })
            }



        </script>



        <%- include("../partials/footer") %>